DOMAIN=tickethub.click

SA_PASSWORD=<sql-sa-password>
NOTIFICATION_SA_PASSWORD=<sql-sa-password-rieng-cho-notification-db>
IDENTITY_SA_PASSWORD=<sql-sa-password-rieng-cho-identity-db>
CATALOG_SA_PASSWORD=<sql-sa-password-rieng-cho-catalog-db>
INVENTORY_SA_PASSWORD=<sql-sa-password-rieng-cho-inventory-db>
ORDERING_SA_PASSWORD=<sql-sa-password-rieng-cho-ordering-db>
PAYMENT_SA_PASSWORD=<sql-sa-password-rieng-cho-payment-db>
FINANCE_SA_PASSWORD=<sql-sa-password-rieng-cho-finance-db>
AI_SA_PASSWORD=<sql-sa-password-rieng-cho-ai-db>

RABBITMQ_USER=guest
RABBITMQ_PASSWORD=<rabbitmq-password>

SECRETS_DIR=/opt/tickethub/secrets
